<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='script.css') }}">
    <title>Edit View</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center text-light">Welcome {{user.first_name}}!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/update/sighting" method="post" class="col-11 p-4 my-4  text-light mx-auto">
        <h2 class="text-primary">Edit this View</h2>
        {% with messages = get_flashed_messages(category_filter=['sighting']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <input type="hidden" name="id" value={{edit.id}}>
            <div class="col-4">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="location" class="form-control" value="{{edit.location}}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description"  cols="30" rows="5" class="form-control">{{edit.description}}</textarea>
                </div>
                
            </div>
            <div class="col-4">

                <div class="form-group">
                    <label for="date_made">Date viewed:</label>
                    <input type="date" name="date_sighted" value="{{edit.date_sighted.strftime('%Y-%m-%d')}}" class="form-control">
                </div>
                
                <input type="submit" value="Edit View" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</body>
</html>